// Would you rather just define animations inline 
// and not bother with naming them?

$_anim-increment: 0;

@mixin animation($selector, $props) {
  $name: #{'anim-'+$_anim-increment};

  // Define animation
  @at-root {
    @keyframes #{$name} {
      @content;
    }
  }

  // Link animation to selector
  #{$selector} {
    animation: $name $props;
  }

  // Increment animation number
  $_anim-increment: $_anim-increment + 1;
};
