$text-elements: (
 headers: (h1, h2, h3, h4, h5, h6),
 body-text: (p, menu, blockquote, label),
 lists: (ul, ol, dl)
);

%antialias {
  -webkit-font-smoothing: antialiased
}

%subpixel-antialias {
  -webkit-font-smoothing: subpixel-antialiased
}
