.sidebar
  h1 16&times;24


  nav.sidebar-nav
    ul
      li: a(href="#") Config
        ul
          li: a(href="#") Breakpoints
          li: a(href="#") Colors
          li: a(href="#") Icons
          li: a(href="#") Layout
          li: a(href="#") Typography

      li: a(href="#") Reset
        ul
          li: a(href="#") Buttons
          li: a(href="#") Forms
          li: a(href="#") Links
          li: a(href="#") Normalize
          li: a(href="#") Typography

      li: a(href="#") Utilities
        ul
          li: a(href="#") Animation Helpers
          li: a(href="#") Aspect Ratios
          li: a(href="#") Clearfixes
          li: a(href="#") Colors
          li: a(href="#") Debug
          li: a(href="#") Fade Out
          li: a(href="#") Horizontal List
          li: a(href="#") Layout
          li: a(href="#") Left/Right Align
