doctype
html
  include includes/head

  body
    include includes/sidebar
    .text-container.style-guide-wrap
      .styleguide-section
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          | ron paul minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          | aliquip ex ea commodo consequat. Duis ron paul aute irure dolor in
          | reprehenderit in voluptate velit esse cillum ron paul dolore eu fugiat
          | nulla pariatur. Excepteur sint occaecat cupidatat ron paul non proident,
          | sunt in culpa qui officia deserunt mollit anim id est laborum.

      .styleguide-section
        h2 Vertical Center with table

        .column-row
          .column.one-fourth
            .vertical-center-test
              .inner This is content

          .column.one-fourth
            .vertical-center-test
              .inner This is content

          .column.one-fourth
            .vertical-center-test
              .inner This is content

          .column.one-fourth
            .vertical-center-test
              .inner This is content for a third time

      .styleguide-section
        h2 Overflow Ellipsis

        .column-row.overflow-test
          .column.one-fourth
            .inner
              p Stuff Here.

          .column.one-fourth
            .inner
              p Longer Stuff Here.

          .column.one-fourth
            .inner
              p I'm just too long, cut me off.

          .column.one-fourth
            .inner
              p I'm getting cut off here.

      .styleguide-section
        h2 Text Separator

        p Create separators between text using psuedoelemnents. Configurable
          | character and padding.

        ul.text-separator-test.test-1
          li Separated
          li Separated
          li Separated
          li Separated
          li Separated

        ul.text-separator-test.test-2
          li Separated
          li Separated
          li Separated
          li Separated
          li Separated

      .styleguide-section
        h2 Swatches

        p Here are some colors that come with 16&times;24.

        h3 Colors

        ul.colors-list.colors
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li

        h3 Greys

        p These are cool greys. A set of warm and neutral greys should be added in the future.

        ul.colors-list.greys
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li

      .styleguide-section
        h2 Text Fade Out

        .fade-out
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            | ron paul minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            | aliquip ex ea commodo consequat. Duis ron paul aute irure dolor in
            | reprehenderit in voluptate velit esse cillum ron paul dolore eu fugiat
            | nulla pariatur. Excepteur sint occaecat cupidatat ron paul non proident,
            | sunt in culpa qui officia deserunt mollit anim id est laborum.

      .styleguide-section
        h2 Aspect Ratio

        p Combining columns and aspect ratio boxes can create complex scaling ratio-based layouts.

        .photo-grid-layout
          .column-row
            .column.golden-minor
              .aspect-golden-portrait
                .aspect-inner

            .column.golden-major
              .column-row
                .column.golden-major
                  .column-row
                    .column.golden-major
                      .aspect-square
                        .aspect-inner

                    .column.golden-minor
                      .aspect-golden-portrait
                        .aspect-inner

                .column.golden-minor
                  .aspect-golden-portrait
                    .aspect-inner

      h2 Basic Forms

      form
        .form-row.split
          .split-item
            label Hello
              input(type='text')

          .split-item
            label I'm a label
              input(type='text')

        .form-row.split
          .split-item.third
            input(type='text')

          .split-item.third
            input(type='text')

          .split-item.third
            input(type='text')

        .form-row
          textarea.full-width

        .form-row
          input(type='text').large-input.full-width

        .form-row
          input(type='submit')

        .form-row
          input(type='submit').large-button

    include includes/footer
